<div class='well'>
  <h1>Help Desk</h1>
  <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          <h3><%= 'Create Default Prices <i class="icon-chevron-down"></i>'.html_safe %></h3>
        </a>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="container-fluid">
              <div class="row-fluid">
                <div class= "span5" >
                  <iframe src="//whatfix.com/button.html?flow=860a9390-119b-11e3-a68d-386077c652c2&text=Set+default+prices+for+company" scrolling="no" width="400px" height="35px" frameborder="0"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>