<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hi <%= @user.name %>,
    </p>
    <p>
      Thank for you choosing Pet Sitter's Pal software. Here are some quick tips on getting started with your account.
    </p>
    <p>
      <li>Add clients by clicking on "Clients". You can add clients individually, or use our spreadsheet template and import all of your clients at once. (If you need migration from another software please email us at support@petsitterspal.com and we'll get you started right away. Great News, It's FREE!)
      </li>
      <li>Setup your pricing Structure by clicking on Account Settings, and Client Prices. These default prices will be applied to all of your clients, and you can set custom prices for your clients also.</li>
      <li>Start adding upcoming visits to the calendar by clicking on "Visits => Schedule Visits". You can see visits on the calendar, and assign the visits to other users on your account.</li>
    </p>
    <p>
      Please check out our help walkthroughs <A HREF="app.petsitterspal.com/help">here</A>. If you need assistance with this or any this else please feel free to reply with your questions.
    </p>
    <p>
      Thanks,
    </p>
    <p>
      The Pet Sitter's Pal Welcome Wagon
    </p>
  </body>
</html>
