<div class='well'>
  <h1>Visit Calendar</h1>
  <%= link_to 'New Visit <i class="icon-plus"></i>'.html_safe, new_visit_block_path, class: "btn", 'data-no-turbolink' => true %>
   <br><br />
  <div id='calendar'></div>
  <br><br />
  <%= link_to 'New Visit <i class="icon-plus"></i>'.html_safe, new_visit_block_path, class: "btn", 'data-no-turbolink' => true %>
</div>