#password_hash {
	float:left;
	margin:20px 0 30px 15px;
}

	#one, #two, #three {
		width: 15px;
		float:left;
		height:15px;
		background:#fff;
		border:1px solid #999;
		padding:10px;
		margin-right:10px;
	}