.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: <i class="icon-chevron-up"></i>;
}

.pretty th .desc {
  background-image: <i class="icon-chevron-down"></i>;
}